body, html {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: black;
	color: White;
}
h1 {
	text-align: center;
	margin: 10px 0;
}
a {
	text-decoration: none;
}
.txt {
	color: White;
}
.img {
	width: 100px;
	height: auto;
	display: block;
	margin: 0 auto 0px;
}